global-include *.txt *.py *.mat *.sh
global-include bin/smc bin/samplegen bin/ctm
recursive-include examples *
recursive-include fixtures *

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist
prune examples/linguistic_case_study/cache
prune examples/simulation_study/instances
prune examples/notebooks/resources/tmp

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
